.n
{
  color:white;
}
.o
{
  color:goldenrod;
}
.p
{
  color:lightskyblue;
}
.k
{
  color:cadetblue;
}
.c1
{
  color:greenyellow;
}
.s
{
  color:chocolate;
}
.mi
{
  color:plum;
}
.mf
{
  color:plum;
}