.n
{
  color:white;
}
.o
{
  color:goldenrod;
}
.p
{
  color:lightskyblue;
}
.k
{
  color:cadetblue;
}
.kt
{
  color:cadetblue;
}
.c1
{
  color:greenyellow;
}
.s
{
  color:chocolate;
}
.mi
{
  color:plum;
}
.mf
{
  color:plum;
}
.nf
{
  color:burlywood;
}
.highlight
{
  background-color:rgb(39, 36, 51);
  border: 2px solid rgb(21, 0, 31);
  color:white;
  overflow: auto;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1000px;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 25px black);
  position: relative;
  z-index: -1;
}