:root
{
    --text-margin: auto;
    --text-width: 1200px;
}
.courier-new-bold
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
}


body {
    background-color: rgb(39, 36, 51);
    font:
      1.5em/150% "Courier Prime",
      Arial,
      monospace;
    margin: 0 auto;
    background-repeat:no-repeat;
    background-image:-moz-linear-gradient(rgb(61, 52, 95), rgb(39, 36, 51));
    
    /*max-width: 100em;*/
    
  }
p
{
    font:
    1.0em/100% "Open Sans",
    Arial,
    sans-serif;
    align-self: auto;
    font-weight: 200;
    line-height: 1.8;
    flex-shrink: 15px;
    margin:var(--text-margin);
    max-width: var(--text-width);
    padding-bottom: 50px;
    
    color: rgb(255, 255, 255);
}
li
{
    font:
    1.5em/100% "Open Sans",
    Arial,
    sans-serif;
    font-weight: 500;
    
    margin:var(--text-margin);
    max-width: var(--text-width);
    color: rgb(255, 255, 255);
}
h1
{
    margin:var(--text-margin);
    max-width: var(--text-width);
    margin-top: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0 #000;
}
h2
{
    font:
    1.0em/100% "Open Sans",
    Arial,
    sans-serif;
    font-weight: 500;
    margin:var(--text-margin);
    max-width: var(--text-width);
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
h3
{
    font:
    1.0em/100% "Open Sans",
    Arial,
    sans-serif;
    margin: 0px;
    color: rgb(255, 255, 255);
}
.title
{
    font:
    72px
    Monaco,
    Arial,
    sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 0 #000;

    height: 300px; /* Set a height for the container */
    line-height: 1.8;
    font-weight: 900;
}
.subtitle
{
    font:
    32px
    Monaco,
    Arial,
    sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    font-weight: 900;
    text-shadow: 5px 5px 0 #000;
}
.special
{
    color:rgb(255, 255, 255);
    
    background-color: rgb(39, 32, 68);
    height: 100%;
    accent-color:white;
    align-content: center;
    text-align: center;
    text-decoration: none;
}
.special:hover
{
    background-color: rgb(200, 182, 255);
}
.Link
{
    margin-left: 25px;
    margin-right: 25px;
    color:white;
    text-decoration: none;
    text-align:center;
}
.LinkSmall
{
    margin: 51px auto;
    color:white;
    text-decoration: none;
    text-align:left;
}
.Current
{
    color:rgb(255, 255, 255);
    background-color: rgb(135, 108, 216);
    height: 100%;
    text-decoration: none;
}
.box
{
    position:top;
    text-align:justify;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    list-style-type: none;
    width: 100%;
    min-height: 350px;
    color:white;
    /*background-image: url("assets/images/Voxeltest.png");*/
    background-color:rgb(61, 52, 95);
}
.Toolbar
{
    display:flexbox;
    justify-content:baseline;
    align-items:baseline;
    background-repeat: repeat-x;
    position:fixed;
    margin: 0px;
    width: 100%;
    top: 0;
    color:rgb(126, 59, 59);
    background-color:rgb(170, 13, 13);
}
.Selectables
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: repeat-x;
    position: sticky;
    margin: 0px;
    width: 100%;
    min-height: 40px;
    height: 5%;
    color:rgb(65, 59, 83);
    background-color:rgb(39, 32, 68);
}
.upperlip
{
    background-repeat: repeat-x;
    position: fixed;
    margin: 0px;
    width: 100%;
    min-height: 5px;
    height: 0%;
    color:white;
    background-color:rgb(47, 40, 75);
}

.ContactMe
{
    font:
    "Courier Prime",
    Arial,
    monospace;
    font-weight: bolder;
    text-align: center;
    position:fixed;
    left: 0; 
    bottom: 0;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color:rgb(47, 40, 75);
}

.Line
{
    background-repeat: repeat-x;
    align-self: baseline;
    position:fixed;
    width: 100%;
    min-height: 1px;
    max-height: 3px;
    bottom: 35px;
    height: 8%;
    color:rgb(49, 1, 184);
    background-color:rgb(65, 59, 83);
}

.UpperLine
{
    background-repeat: repeat-x;
    align-self: baseline;
    position:sticky;
    width: 100%;
    min-height: 1px;
    max-height: 3px;
    color:white;
    background-color:rgb(82, 67, 128);
}

iframe 
{
    display: block;
    margin: 0 auto;
    opacity: 100;
}
iframe.fadeout
{
    opacity: 0;
}
iframe.fadein
{
    opacity: 100%;
    transition:ease-in, 1s;
}

img 
{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
img.fadeout
{
    opacity: 0;
}
img.fadein
{
    opacity: 100%;
    transition:ease-in, 1s;
}

.image
{
    display: block;
    margin: 15 auto;
    width: 300px;
    max-width: 100%;
}
.image.fadeout
{
    opacity: 0;
}
.image.fadein
{
    opacity: 100%;
    transition:ease-in, 1s;
}

hr
{
    color:rgb(228, 240, 240);
}

.contentbox
{
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    margin: 0 auto;
}
.sidebarContent
{
    position: sticky;
    top: 50px;
    background-color: rgb(61, 52, 95);
    border: 2px solid rgb(39, 36, 51);
}
.column
{
    float: left;
    align-self: stretch;
    width: 400px;
    padding: 1rem;
    box-sizing: border-box;
}
.content
{
    float: left;
    padding: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}

.highlight {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    padding-bottom: 10px;
    margin: 0 auto;
}