<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<div class="box" style="background-image:url({{ page.bkgrnd }});"><div class="title">Colin Doubrough</div><div class="subtitle">Software, Games, Graphics</div></div>
<script type="module" src="GlobalUtil.js"></script>
<nav>
  <div class="Toolbar">
    
  

    <div class="Selectables">

      <!-- Loops through all links in navigation.yml and adds it to the above bar, if it's our current link, we change the element's color so it appears selected. -->

          {% for item in site.data.navigation %}
            <div 

            {% if page.url == item.link %}
              class ="Current"
            {% else %} 
              class="special"
            {% endif %}> 

              <a href="{{ site.baseurl }}{{ item.link }}" class="Link"> 
                {{ item.name }}
              </a>
            </div>


          
        

          {% endfor %}
          
          
          
          <!-- This needs to be done outside of the navigation loop as this goes out of the webpage-->

          <a class ="special" href="https://github.com/Colin12345678910">Github</a>

      </div>

      <div class="UpperLine"></div>
      
      {% if page.more == true %}
            <div class="Selectables">
              {% for item in site.data.UnityTech %}
              <div 

              {% if page.url == item.link %}
                class ="Current"
              {% else %} 
                class="special"
              {% endif %}> 
  
                <a href="{{ site.baseurl }}{{ item.link }}" class="Link"> 
                  {{ item.name }}
                </a>
              </div>
  
  
            
          
  
            {% endfor %}
            </div>
            <div class="UpperLine"></div>
      {% endif %}
  </div>
  
    
    
  <footer>
    <div class="Line"></div>
    <div class="ContactMe">
      
      
      
      <a class = "ContactMe" href="mailto:ColinDoubrough@gmail.com">
          Contact me: ColinDoubrough@gmail.com
      </a>
      
    </div>
  </footer> 


</nav>
