<!doctype html>
  <head>
    <link rel="stylesheet" href="{{ "/styles.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/md_codeblock.css" | prepend: site.baseurl }}"/>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}
    <div class="contentbox">
      {% if page.sidebar %}
      <div class="column">{% include sidebar.html %}</div>
      {% endif %}
      <div class="content">{{ content }}</div>
    </div>
  </body>